/*
Timeline Template
http://www.templatemo.com/preview/templatemo_427_timeline
*/

@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900);

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);

@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 100;
}
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
a { color: #666;  font-weight: bold; font-size: 18px;}

.heading {
    border-bottom: 4px solid #98d361;
    border-top: 4px solid #98d361;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 0px;
}

.heading h2 {
    font-family: 'Dosis';
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 30px;
}
.triangle {
    margin-left: 45%;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 45px solid #98d361;
}
.cd-container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.cd-container::after {
    content: '';
    display: table;
    clear: both;
}
.cd-container .projects {
    /* margin-left: 40px; */
}
.cd-container .projects {
    position: relative;
    float: left;
    background-color: transparent !important;
}

.cd-timeline-block {
    position: relative;
    margin: 0em 0!important;
}

.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-block:first-child {
    margin-top: 0;
}

.cd-timeline-block:last-child {
    margin-bottom: 0;
}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #eee;
}

.cd-timeline-img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}

.cd-timeline-img:hover {
    background-color: #98d361;
    cursor: pointer;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }

    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        -moz-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }
}


@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: -3em 0;
    }
    
    #cd-timeline-2 .cd-timeline-block {
        margin: -10em 0;
    }
    
    #cd-timeline-2 .cd-timeline-block:first-child {
        margin-top: 0;
    }
    
    #cd-timeline-2 .cd-timeline-block:last-child {
        margin-bottom: 0;
    }

    .cd-timeline-block:first-child {
        margin-top: 0;
    }

    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 1170px) {
.projects img {
        border: 4px solid #eee;
        max-width: 100%;
    }

    .cd-timeline-content {
        margin-left: 0;
        width: 45%;
    }

    .cd-timeline-content::before {
        display: none;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }

    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }

    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        -moz-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }

}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        -moz-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background-color: #eee;
    border-radius: 0.50em;
}

.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-content h2 {
    font-family: 'Dosis';
    font-size: 22px !important;
    font-weight: 600;
    color: #333;
    margin-top: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    display: inline-block;
}

.cd-timeline-content p {
    font-family: 'Dosis';
    font-size: 16px !important;
    color: #333;
    line-height: 24px;
}

.projects img {
    border: 4px solid #eee;
    max-width: 100%;
    box-shadow: 7px 3px 12px 4px #999;
}
.cd-timeline-block .projects {
    margin-bottom: 60px;
}
@media (max-width:1170px) {

    .cd-timeline-block .projects {
        padding-bottom: 200px;
    }

    #map {
        margin-top: 40px;
    }
}
.cd-timeline-block .projects {
    max-width: 100%;
    overflow: hidden;
    /* margin: 0; */
    position: relative;
}

.cd-timeline-block .projects img {
    width: 100%;
}

@media (max-width:768px) {
    .cd-timeline-content,
  .cd-timeline-block .projects {
        margin-top: 60px;
        padding-bottom: 40px;
    }

    #big-banner .main-icons {
        text-align: center;
        margin-top: 120px;
    }
}

@media (max-width:1170px) {
    .cd-timeline-content,
  .cd-timeline-block .projects {
        margin-top: 60px;
        padding-bottom: 40px;
    }
}
.project-content {
    position: absolute;
    z-index: 999;
    background-color: #eee;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
}

.project-content h2 {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.project-content span {
    font-family: 'Dosis';
    font-size: 12px;
    text-transform: uppercase;
    color: #777;
    margin-left: 15px;
    margin-top: -15px;
    padding-bottom: 10px;
    display: block;
}

.cd-container::after {
    content: '';
    display: table;
    clear: both;
}

#cd-timeline, #cd-timeline-2 {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

#cd-timeline::before, #cd-timeline-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #ccc;
}

@media only screen and (min-width: 1170px) {
    #cd-timeline, #cd-timeline-2 {
        margin-top: 0em;
        margin-bottom: 3em;
    }

    #cd-timeline::before, #cd-timeline-2::before {
        left: 50%;
        margin-left: -2px;
    }
}

.tm-news-container {
    background-color: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 3%;
    padding-right: 3%;  
}
.gray-bg { background-color: #F4F4F4; }

#tm-section-1,
.tm-section-1-inner,

.tm-section-1-inner { padding-top: 12%; }

#tm-section-1 { padding-bottom: 0; }
.tm-section {
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: auto;
    width: 100%;
}

.tm-news-item {
    margin: 0 auto 5% auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}

.tm-news-item:last-child { margin-bottom: 0; }

.tm-news-item-img { margin: 0 auto; }

.tm-news-item-img-container { padding: 0; }

.tm-light-blue-bordered-btn {   
    background: transparent;
    border: 2px solid #4EA7FF;    
    color: #4EA7FF;
}

.tm-light-blue-bordered-btn:hover,
.tm-light-blue-bordered-btn:focus { 
    background: #4EA7FF;
    color: white;
}

.tm-news-link { 
    margin-right: 0;
    margin-left: auto;
    -ms-flex-item-align: end;
        -webkit-align-self: flex-end;
            align-self: flex-end;
}

.btn {
  border-radius: 50px;
  font-size: 1em;
  padding: 0.5em 2.5em;
  margin: 0.25em;
}


.tm-news-title { 
    font-weight: 300;
    margin-bottom: 30px; 
}

.dark-gray-text { color: #203f66; }

.flex-order-1 { -webkit-order: 1; -ms-flex-order: 1; order: 1; }
.flex-order-2 { -webkit-order: 2; -ms-flex-order: 2; order: 2; }

.tm-3-col-box {
   
    margin-left: auto;
    margin-right: auto;
}
.tm-description-box { padding: 10px 0px 50px; }
.tm-description-text { margin-bottom: 1.5em; font-weight: bold; font-size: 20px;}

@media (max-width: 767px) {
    .home .tm-section { 
        padding-top: 10%; 
        padding-bottom: 10%;
    }
    .margin-bottom-sm-3 { margin-bottom: 3%; }

}

@media (max-width: 640px) {
    .page-2 .tm-section { 
        padding-top: 7%; 
        padding-bottom: 7%;
    }
}
@media (max-width: 991px) {
    .tm-news-item {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;     
    }
    .tm-news-container {
        padding: 1.5em;
        margin: 0 auto;
        max-width: 600px;
    }
    .flex-order-2 { -webkit-order: 1; -ms-flex-order: 1; order: 1; }
    .flex-order-1 { -webkit-order: 2; -ms-flex-order: 2; order: 2; }

}
@media (max-width: 1199px) {
    h2 { font-size: 1.8rem; }
    .tm-news-title { margin-bottom: 15px; }
    .tm-news-text { line-height: 1.6; } 
}

@media (max-width: 1100px) and (min-width: 992px) {
    h2 { font-size: 1.6rem; }
    .tm-news-title { margin-bottom: 12px; }
    .tm-news-text { 
        font-size: 0.9em; 
        margin-bottom: 0.5em;
    }
    .btn { 
        padding-top: 0.3em;
        padding-bottom: 0.3em; 
    }
}

.page-2 .container-fluid { max-width: 1140px; }
.blue-text { color: #006699; }
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}


.templatemo-service {
    padding-bottom: 100px;
    padding-top: 100px;
}

.templatemo-service-item {
    font-family:  'Open Sans', sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}
.style-text-title-vanhoc p{
    font-family:  'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

.templatemo-service-item p {
    font-weight: lighter; 
    text-align: justify; 
    margin-top: 25px;
    font-size: 15px;
    color: #929292;
}
p.templatemo-service-item-header {
    margin-left: -10px; 
    padding: 16px 20px 20px; 
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    height: 85px;
}
.height-col-vanhoc{
    height: 170px;
    overflow: auto;
}
@media (min-width:991px) and (max-width:1200px) {

    p.templatemo-service-item-header {
        padding: 16px 10px 20px;
    }
    
}

@media (max-width: 380px) {
    p.templatemo-service-item-header {
        font-size: 16px;
        
        padding: 23px 10px 22px;
    }    
}

@media (max-width:991px) {
    .team-inner {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .templatemo-btn-read-more {
        float:right;
        margin-bottom :40px; 
    }
}
@media (max-width: 768px) {
    .member-thumb .thumb-overlay {
        padding-left: 40%;
       
    }
    .templatemo-btn-read-more {
            float:right;
            margin-bottom :40px; 
      }
}

.btn-orange {
    background-color: #ff7600;
    border-bottom:2px solid #d35400;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color:#ffffff;
}

.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active, .open .dropdown-toggle.btn-orange {
    background-color: #d35400;
    color:#ffffff;
}

.templatemo-welcome {
    border-bottom: 2px solid #cccccc;
    min-height: 20px;
}
.templatemo-welcome-tree {
    border-bottom: 2px solid #98d361;
    min-height: 20px;
}
.templatemo-slogan {
    font-family:  'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 42px;
    padding-bottom: 30px;
    padding-top: 20px;
  
    color: #333333;
}
.txt_darkgrey {
    color: #333333;
}

.txt_orange {
    color: #e67e22;
}

.txt_slogan {
    font-size:14px; 
    color:#929292;
}